<strong>Olá, {{ deliveryman }}</strong>

<p>A entrega do produto {{product}} foi cancelada!</p>
<p>
  <strong>Detalhes da entrega:</strong> <br/>
  <br/>
  <strong>Nome: </strong>{{name}} <br/>
  <strong>Endereço: </strong>{{address}} {{number}} {{complement}}<br/>
  <strong>Cidade: </strong>{{city}}/{{state}} <br/>
  <strong>CEP: </strong>{{postal_code}}<br/>



</p>

